<html>
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script language="javascript" type="text/javascript" src="/js/p5.min.js"></script>
	<script language="javascript" type="text/javascript" src="/js/p5.dom.min.js"></script>
	<script language="javascript" type="text/javascript" src="/js/AppAConstructor.js"></script>
	<script language="javascript" type="text/javascript" src="/js/AppStore.js"></script>
	<script language="javascript" type="text/javascript" src="/js/AppChess.js"></script>
	<script language="javascript" type="text/javascript" src="/js/AppCircles.js"></script>
	<script language="javascript" type="text/javascript" src="/js/AppDrawing.js"></script>
	<script language="javascript" type="text/javascript" src="/js/AppFace.js"></script>
	<script language="javascript" type="text/javascript" src="/js/AppPickAndPlace.js"></script>
	<script language="javascript" type="text/javascript" src="/js/AppQualityAssurance.js"></script>
	<script language="javascript" type="text/javascript" src="/js/AppSettings.js"></script>
	<script language="javascript" type="text/javascript" src="/js/tr_os.js"></script>
	<script language="javascript" type="text/javascript" src="/js/desktop.js"></script>
	<style> body { padding: 0; margin: 0; } </style>
</head>

<body>

</body>

</html>
